*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
}

body{
    padding-top: 70px;
}

main{
    font-size: 20px;
}

.navbar{
    background-color: rgb(33, 33, 227);
}

nav{
    position: fixed;
}

h2 {
    color: #007bff;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2:hover{
    color: #0e4886;
}

ol {
    list-style-type: decimal;
    padding-left: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

p:hover{
    color:#0c008b;
    text-shadow: 4px 4px 9px #070f1f;
    padding: 1px 1px;
}

li:hover{
    color: #001d57;
    font-weight: 600;
}

.nav-item{
    color: #0042c7;
    font-weight: 700;
}

ul {
    padding-left: 2rem;
}

.passo{
    font-size: 20px;
    font-weight: 650;
    color: #001498;
}

.card-body{
    background-color: #3758ffca;
    border-radius:20px;
}
.card-body:hover{
    background-color: #93b7ff;
    border-radius:20px;
}
.imgfundo{
    width: 100%;
    min-height: auto;
    opacity: 0.5;
}

.containerimg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.textoimg{
    position: absolute;
    text-align: center;
    padding:20px;
}

.containerimg img{
    border-radius: 20px;
}

.textoimg h2{
    text-shadow: 4px 4px 9px rgb(24, 70, 255);
}

.textoimg h2:hover{
    font-style: italic;
    text-shadow: 4px 4px 9px rgb(24, 70, 255);
}

.textoimg h3{
    text-shadow: 4px 4px 9px #070f1f;
}

.textoimg p{
    font-size: 19px;
    text-shadow: 4px 4px 9px rgb(24, 70, 255);
}
.importante{
    text-align: center;
    font-size: 24px;
    color: rgb(0, 30, 255);
}
.importante:hover{
    font-size: 30px;
    color: red;
}
.video-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.video-w {
    overflow: hidden;
    width: 60vw;
    height:30vh;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

#inscricoes {
    background-color: #98cbff; 
    padding: 50px 0; 
    border-radius: 20px;
    margin-bottom: 5vh;
}

#inscricoes h5 {
    color: #007bff; 
}

#inscricoes p {
    color: #333;
}

#inscricoes ul {
    list-style-type: none; 
    padding-left: 0; 
}

#inscricoes ul li {
    margin-bottom: 10px; 
}

.form-container {
    background-color: #b1d0ff; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 139, 0.5); 
}
.form-container label {
    color: #0047b3;
}
.form-control {
    border-color: #0047b3; 
}
.form-control:focus {
    border-color: #002080; 
    box-shadow: 0 0 0 0.25rem rgba(0, 39, 128, 0.25);
}
.btn-primary:hover {
    background-color: #0052cc;
    border-color: #0052cc;
}

.btn-inscricao:hover{
    border: 5px #0a0098 solid;
}
